*.bak
*.egg
*.egg-info/
*.env
*.py[cod]
*.so
.DS_Store
.Python
.cache
.coverage
.coverage.*
.eggs/
.env*
.ipynb_checkpoints
.venv/
MANIFEST
Thumbs.db
__pycache__/
__pypackages__/
build/
dist/
downloads/
htmlcov/
